{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<br>

<!-- Porfile Information -->
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="mr-2">
                        <img class="rounded-circle" align-items="center" width="80" src={{user.profilePicture}} alt="">
                    </div>
                    <div class="h5">{{user.username}}</div>
                    <div class="h7 text-muted">Fullname: {{user.first_name}} {{user.last_name}}</div>
                    <div class="h7">{{user.description}}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Followers</div>
                        <div class="h5">{{user.followers}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Following</div>
                        <div class="h5">{{user.following}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 gedf-main">

            <!--- \\\\\\\Post-->
            <form action={% url 'createpost' %} method="post">
                {% csrf_token %}
            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">New Post</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                {{ form.title }} {{ form.image }} 
                                <br><br>
                                {{ form.post }}                              
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>  
                        <div>
                            
                        </div> 
                    </div>
                </div>
            </div>
        </form>
            <!-- Post /////-->
            <br>
            <!--- \\\\\\\Post-->
            {% for post in posts %}
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <a href="{% url 'loadProfile' post.username.username user.username %}"><img class="rounded-circle" width="45" src={{ post.username.profilePicture }} alt=""></a>
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0"><a href="{% url 'loadProfile' post.username.username user.username %}" style="text-decoration:none; color:black;" >@{{ post.username }}</a></div>
                                <div class="h7 text-muted">{{ post.username.first_name }} {{ post.username.last_name }}</div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ post.creationDate }}</div>
                    <div  contenteditable="false">
                    
                        <h5 class="card-title" contentEditable="true">{{ post.title }}</h5>
                    

                    <p class="card-text" id="text{{ post.id }}">
                        {{ post.post }}
                    </p>
                    {% if post.image %}
                    <p class="card-text">
                        <image src={{ post.image }} width="170" height="200">
                    </p>
                    {% endif %}
                </div>
                </div>
                
                <div class="card-footer">
                    {% if post.likedPosts.all %}
                        {% for x in post.likedPosts.all %}
                            {% if x.likedBy.username == user.username and x.post.id == post.id %}
                            <a href="" class="card-link" id="like{{ post.id }}"><image id="image{{ post.id }}" src="{% static 'network/FullHeart.png' %}" width="20" height="20" alt="Like"></a> <span id="numlikes{{ post.id }}">{{ post.likes }}</span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <a href="" class="card-link" id="like{{ post.id }}"><image id="image{{ post.id }}" src="{% static 'network/emptyHeart.png' %}" width="20" height="20" alt="Like"></a> <span id="numlikes{{ post.id }}">{{ post.likes }}</span>
                    {% endif %}
                    {% if post.username.username == user.username %}
                    <button type="button" class="btn btn-warning" id="edit{{ post.id }}"><i class="fa fa-comment"></i>Edit</button>
                    <button type="button" class="btn btn-warning"  id="save{{ post.id }}" style="display: none"><i class="fa fa-comment"></i>Save</button>
                    {% endif %}
                </div>
            </div>
            <br>
            {% endfor %}

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if posts.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}

                <li class="page-item"><a class="page-link" >{{ posts.number }}</a></li>

                {% if posts.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
                </ul>
              </nav>

            <script>

                var image = document.getElementById("Like")
                var baseURL = "{% static 'network/FullHeart.png' %}"
                // console.log(image)
                // console.log(image.src)
                console.log(baseURL)

                $(document).ready( function() {
                    function editPost(val, id) {

                        fetch('/editPost', {
                        method: 'PUT',
                        body: JSON.stringify({
                            user: {{user.id}},
                            postId: id,
                            post: val
                        })
                        })
                        .then(response => response.json())
                        .then(result => {
                            // Print result
                            console.log(result);
                    });    
                    
                }

                    $('[id^="edit"]').click(function() {
                        //alert("clicked")
                        // alert($(this).attr('id'));
                        
                        var edit = $(this).attr('id');
                        var id = edit.substring(4);
                        var text = "text" + id;
                        var save = "save" + id;
                        var editedText = "editedText" + id;
                        console.log(text)
                        $('#'+text).editable();
                        $('#'+text).focus();
                        $('#'+edit).hide();
                        $('#'+save).show();

                    });

                    $('[id^="save"]').click(function() {
                        //alert("clicked")
                        // alert($(this).attr('id'));
                        
                        var save = $(this).attr('id');
                        var id = save.substring(4);
                        var text = "text" + id;
                        var edit = "edit" + id;
                        var editedText = "editedText" + id;
                        console.log(text)
                        var post = $('#'+text).text();
                        console.log(post)
                        editPost(post,id);
                        $('#'+save).hide();
                        $('#'+edit).show();

                    });
                });


                function updateLike(id, update) {

                    fetch('/updateLike', {
                    method: 'PUT',
                    body: JSON.stringify({
                        user: {{user.id}},
                        postId: id,
                        counter: update
                    })
                    })
                    .then(response => response.json())
                    .then(result => {
                        // Print result
                        console.log(result);
                    });
                } 

                function getLikes(postId) {
                    console.log("start..");
                    fetch('/getLikes/' + postId)
                    .then(response => response.json())
                    .then(likes => {
                        console.log(likes);
                        var id = "numlikes" + postId
                        console.log(likes.likes);
                        $('#'+id).html(likes.likes);
                    });
                    console.log("function");

                }


                $('[id^="like"]').click(function() {
                    var like = $(this).attr('id');
                    var id = like.substring(4);
                    var image = "image" + id;
                    var curScr = $('#'+image).prop('src');
                    var update = 0;
                    // console.log(like)
                    // console.log(image)
                    console.log(curScr)
                    if (curScr == "http://127.0.0.1:8000/static/network/emptyHeart.png") {
                        $('#'+image).attr('src', 'http://127.0.0.1:8000/static/network/FullHeart.png');
                        update = 1;
                        console.log(update);
                        updateLike(id, update);
                        setTimeout(getLikes, 100, id);
                        // getLikes(id);
                        return false;
                        
                    }
                    else{
                        $('#'+image).attr('src', 'http://127.0.0.1:8000/static/network/emptyHeart.png');
                        updateLike(id, update);
                        console.log(update);
                        setTimeout(getLikes, 100, id);
                        //getLikes(id);
                        return false;
                    }
                    return false;
                });
            
            </script>
            <!-- Post /////-->

        </div>
        
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">CS50</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Web Programming</h6>
                    <p class="card-text">This project is built as part of the CS50's web programming course. 
                        You can check out the page of the course in the linkg below.</p>
                    <a href="https://cs50.harvard.edu/web/" class="card-link"><image src="https://pbs.twimg.com/media/Dh1kxn1W0AA335d.jpg" width="60" height="40"></image></a>
                </div>
            </div>
            <br>
            <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Github</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Personal profile</h6>
                        <p class="card-text">The project is uploaded to my Github profile. You can reach the profile or the repo itself by the links below.</p>
                        <a href="https://github.com/avaldinger" class="card-link"><image src="https://1000logos.net/wp-content/uploads/2018/11/GitHub-logo.jpg" width="60" height="30"></a>
                        <a href="https://github.com/avaldinger/network" class="card-link"><image src="https://cdn0.iconfinder.com/data/icons/octicons/1024/git-branch-512.png" width="30" height="40"></a>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}