{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<br>

<!-- Porfile Information -->
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="mr-2">
                        <img class="rounded-circle" align-items="center" width="80" src={{userInfo.profilePicture}} alt="">
                    </div>
                    <div class="h5">{{userInfo.username}}</div>
                    <div class="h7 text-muted">Fullname: {{userInfo.first_name}} {{userInfo.last_name}}</div>
                    <div class="h7">{{userInfo.description}}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Followers</div>
                        <div class="h5">{{userInfo.followers}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Following</div>
                        <div class="h5">{{userInfo.following}}</div>
                    </li>
                </ul>
                <br>
                {% if userInfo.username !=  user.username %}
                    {% if followed.followedBy.id == user.id %}
                        <a href="" id="unfollow" onclick="return follow(this.id)"><button type="submit" class="btn btn-primary">Unfollow</button></a>
                    {% else %}
                        <a href=""  id="follow" onclick="return follow(this.id)"><button type="submit" class="btn btn-primary">Follow</button></a>
                    {% endif %}
                
                {% endif %}
            </div>

        </div>
        <div class="col-md-6 gedf-main">

            <br>
            <!--- \\\\\\\Post-->
            {% for post in posts %}
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src={{ post.username.profilePicture }} alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">@{{ post.username }}</div>
                                <div class="h7 text-muted">{{ post.username.first_name }} {{ post.username.last_name }}</div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ post.creationDate }}</div>
                    <a class="card-link" >
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>

                    <p class="card-text">
                        {{ post.post }}
                    </p>
                    {% if post.image %}
                    <p class="card-text">
                        <image src={{ post.image }} width="170" height="200">
                    </p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="" class="card-link" onclick="return  changeIcon()"><image src="{% static 'network/emptyHeart.png' %}" id="Like" width="20" height="20" alt="Like"></a> {{ post.likes }}
                        {% if post.username.username == user.username %}
                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Edit</a>
                    {% endif %}
                </div>
            </div>
            <br>
            {% endfor %}

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if posts.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}

                <li class="page-item"><a class="page-link" >{{ posts.number }}</a></li>

                {% if posts.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
                </ul>
              </nav>
            <script>

                window.onload = function() {
                        console.log("Onload..")
                        document.querySelector('#myP').innerHTML = "Function working..."
                };

                var image = document.getElementById("Like")
                var baseURL = "{% static 'network/FullHeart.png' %}"
                console.log(image)
                console.log(image.src)
                console.log(baseURL)

                // Buggy 2 clicks needed to follow/unfollow...
                function follow(val) {
                    fetch('/follow', {
                    method: 'POST',
                    body: JSON.stringify({
                        user: {{userInfo.id}},
                        followedBy: {{ user.id }},
                        status: val
                    })
                    })
                    .then(response => response.json())
                    .then(result => {
                        // Print result
                        console.log(result);
                    });                                           

                }

                

            
                function changeIcon() {
                    if (image.src == "http://127.0.0.1:8000/static/network/emptyHeart.png") {
                            console.log("Inside")
                        image.src = "http://127.0.0.1:8000/static/network/FullHeart.png"
                        
                    }
                    else{
                        image.src = "http://127.0.0.1:8000/static/network/emptyHeart.png"
                        console.log("Else")
                    }
                    return false;
                }
            
            </script>
            <!-- Post /////-->

        </div>
        
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">CS50</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Web Programming</h6>
                    <p class="card-text">This project is built as part of the CS50's web programming course. 
                        You can check out the page of the course in the linkg below.</p>
                    <a href="https://cs50.harvard.edu/web/" class="card-link"><image src="https://pbs.twimg.com/media/Dh1kxn1W0AA335d.jpg" width="60" height="40"></image></a>
                </div>
            </div>
            <br>
            <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Github</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Personal profile</h6>
                        <p class="card-text">The project is uploaded to my Github profile. You can reach the profile or the repo itself by the links below.</p>
                        <a href="https://github.com/avaldinger" class="card-link"><image src="https://1000logos.net/wp-content/uploads/2018/11/GitHub-logo.jpg" width="60" height="30"></a>
                        <a href="#" class="card-link"><image src="https://cdn0.iconfinder.com/data/icons/octicons/1024/git-branch-512.png" width="30" height="40"></a>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}